#rel-meta > .hndle {
  height: 35px;
}
#cs-logo {
  max-height: 30px;
  top: 0px;
  left: 0px;
}
.rel-panel-group {
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
}
.rel-panel-group .rel-panel-heading {
  width: 100%;
  padding: 0px 0 0 10px;
  margin-right: 8px;
  background-color: #e5e5e5;
  border: 1px solid #c6c6c6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float: left;
}
.rel-panel-group .rel-body {
  background-color: #f7f7f7;
  padding-left: 15px;
  float: left;
  margin-right: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.rel-panel-group .rel-row-fluid {
  float: left;
  width: 100%;
  text-align: left;
}
.rel-panel-group .rel-row-fluid h4.rel-panel-title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}
.rel-panel-group .rel-row-fluid h4.rel-panel-title a {
  text-decoration: none;
}
.rel-panel-group .rel-row-fluid .rel-col {
  min-width: 25%;
  padding-top: 10px;
}
.rel-panel-group .rel-row-fluid .rel-check-col {
  padding-top: 15px;
  min-width: 20%;
}
.rel-panel-group .rel-row-fluid .rel-sublabel-col {
  display: none;
}
.rel-panel-group .rel-row-fluid .rel-col,
.rel-panel-group .rel-row-fluid .rel-check-col {
  margin: auto;
  text-align: left;
  padding-right: 5px;
  padding-bottom: 8px;
  float: left;
  background-color: #f7f7f7;
}
.rel-panel-group .rel-row-fluid input[type='text'] {
  max-width: 95%;
}
.rel-panel-group .rel-row-fluid label {
  margin-right: 6px;
}
#postexcerpt {
  width: 100%;
  float: left;
}
#authordiv {
  width: 100%;
  float: left;
}
